<a href="https://colab.research.google.com/github/AyushSinghRaghuwanshi/Credit-Card-Fraud-Detection/blob/main/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Importing the dependencies
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
#Loading dataset to a pandas dataframe
df = pd.read_csv('creditcard.csv')

In [4]:
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [5]:
#dataset information 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105067 entries, 0 to 105066
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    105067 non-null  int64
 1   V1      105067 non-null  float64
 2   V2      105067 non-null  float64
 3   V3      105067 non-null  float64
 4   V4      105067 non-null  float64
 5   V5      105067 non-null  float64
 6   V6      105067 non-null  float64
 7   V7      105067 non-null  float64
 8   V8      105067 non-null  float64
 9   V9      105067 non-null  float64
 10  V10     105067 non-null  float64
 11  V11     105067 non-null  float64
 12  V12     105067 non-null  float64
 13  V13     105067 non-null  float64
 14  V14     105067 non-null  float64
 15  V15     105067 non-null  float64
 16  V16     105067 non-null  float64
 17  V17     105067 non-null  float64
 18  V18     105067 non-null  float64
 19  V19     105067 non-null  float64
 20  V20     105067 non-null  float64
 21  V21     105067 non-null  float64
 22  V22     105067 non-null  float64
 23  V23     105067 non-null  float64
 24  V24     105066 non-null  float64
 25  V25     105066 non-null  float64
 26  V26     105066 non-null  float64
 27  V27     105066 non-null  float64
 28  V28     105066 non-null  float64
 29  Amount  105066 non-null  float64
 30  Class   105066 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 24.8 MB

In [8]:
#Check the number of missing values in each column
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [9]:
#dist of legit transaction and fraudulent transaction
df['Class'].value_counts()

0.0    104834
1.0       232
Name: Class, dtype: int64

In [10]:
#The dataset is highly unbalanced
# 0 --> Normal Transaction
# 1 --> Fraudulent Transaction
#Seperating the data for analysis
legit = df[df.Class == 0] 
fraud = df[df.Class == 1]

In [11]:
print(legit.shape)
print(fraud.shape)

(104834, 31)
(232, 31)

In [12]:
#Statistical Measures of the data 
legit.Amount.describe()

count    104834.000000
mean         96.584297
std         262.333583
min           0.000000
25%           7.190000
50%          25.540000
75%          87.440000
max       19656.530000
Name: Amount, dtype: float64

In [13]:
fraud.Amount.describe()

count     232.000000
mean      115.520474
std       253.721393
min         0.000000
25%         1.000000
50%         7.595000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [14]:
#Compare the values for both Transaction 
df.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0.0    43692.851508 -0.245296 -0.039251  ...  0.000488  0.001663   96.584297
1.0    37898.655172 -6.138432  4.280104  ...  0.536235  0.061592  115.520474

[2 rows x 30 columns]

In [15]:
#UNDER SAMPLING
legit_sample = legit.sample(n=232)

In [16]:
#Concatenating two dataframes
new_dataset = pd.concat([legit_sample,fraud],axis=0)

In [17]:
new_dataset.head()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
56950  47688 -1.647115  1.813682  0.943443  ... -1.078697 -0.498725   20.40    0.0
61923  50049 -3.023709 -3.965300  0.491565  ...  0.480585 -0.790138  305.79    0.0
69718  53552 -0.487635  0.960723  1.664881  ...  0.278712  0.120101    2.67    0.0
41334  40639  0.949017 -0.426971  1.153366  ...  0.061948  0.045670   89.82    0.0
46853  42957 -3.434908 -1.335113  0.387497  ...  0.136693 -0.083210  191.15    0.0

[5 rows x 31 columns]

In [18]:
new_dataset['Class'].value_counts()

1.0    232
0.0    232
Name: Class, dtype: int64

In [19]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0.0    42967.314655 -0.309851 -0.150325  ... -0.004370  0.009340  101.686207
1.0    37898.655172 -6.138432  4.280104  ...  0.536235  0.061592  115.520474

[2 rows x 30 columns]

In [20]:
#Splitting the data into Features and targets
X = new_dataset.drop(columns='Class',axis=1)
Y = new_dataset['Class']

In [21]:
print(X)

         Time         V1         V2  ...       V27       V28  Amount
56950   47688  -1.647115   1.813682  ... -1.078697 -0.498725   20.40
61923   50049  -3.023709  -3.965300  ...  0.480585 -0.790138  305.79
69718   53552  -0.487635   0.960723  ...  0.278712  0.120101    2.67
41334   40639   0.949017  -0.426971  ...  0.061948  0.045670   89.82
46853   42957  -3.434908  -1.335113  ...  0.136693 -0.083210  191.15
...       ...        ...        ...  ...       ...       ...     ...
102443  68207 -13.192671  12.785971  ...  1.269566  0.939407    1.00
102444  68207 -13.192671  12.785971  ...  1.269566  0.939407    1.00
102445  68207 -13.192671  12.785971  ...  1.269566  0.939407    1.00
102446  68207 -13.192671  12.785971  ...  1.269566  0.939407    1.00
102782  68357   1.232604  -0.548931  ...  0.080805  0.035427   19.59

[464 rows x 30 columns]

In [22]:
print(Y)

56950     0.0
61923     0.0
69718     0.0
41334     0.0
46853     0.0
         ...
102443    1.0
102444    1.0
102445    1.0
102446    1.0
102782    1.0
Name: Class, Length: 464, dtype: float64

In [23]:
#Split the data into training data and testing data
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [24]:
print(X.shape,X_test.shape,X_test.shape)

(464, 30) (93, 30) (93, 30)

In [25]:
#Training Model
#Logistic Regression 
model = LogisticRegression()

In [26]:
#Training the logistic regression model with training data
model.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [30]:
#Model Evaluation 
#Accuracy score
#Accuracy on training data 
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [31]:
print("Accuracy on Training data : ",traning_data_accuracy)

Accuracy on Training data :  0.9354838709677419

In [35]:
#Accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [36]:
print("Accuracy on Test data : ",test_data_accuracy)

Accuracy on Test data :  0.9354838709677419